* {
    padding: 0;
    margin: 0;

}

header {
    background-color: #181818;
    padding: 24px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;

}

header nav ul li {
    margin-left: 32px;
}

header nav ul a {
    font: 15px/20px 'Poppins';
    font-style: normal;
    color: #FFFFFF;
    text-decoration: none;
}

header nav ul li:first-of-type {
    margin-right: 24px;
}

header nav ul li:first-of-type a {
    font-size: 13px;
}

header nav ul li:last-of-type a {
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
    font: 16px/20px 'Poppins';
    letter-spacing: 0.4px;
    color: #000000;
}

.main-banner {
    box-sizing: border-box;
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;

    padding-bottom: 71px;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.main-container {
    max-width: 580px;

    text-align: center;
}

.main-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}

.main-title-1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;

}

.about {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
    margin-top: 18px;
}

.fixed-information li {
    margin-left: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}

.fixed-information li:before {
    content: "";
    display: inline-block;
    background-image: url("../images/clock(1).svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 6px;
}

.fixed-information li:nth-child(2):before {

    background-image: url("../images/circle(2).svg");

}

.fixed-information li:nth-child(3):before {
    background-image: url("../images/iso(3).svg");
    width: 32px;
}

.fixed-information li:last-of-type:before {
    background-image: url("../images/Fill-1.svg");
    width: 10px;
}

.fixed-information {
    display: flex;
    list-style: none;
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.companies {
    background: #000000;
    padding-top: 113px;
    padding-bottom: 140px;
}

.companies-container {
    margin: auto;
    text-align: center;
    max-width: 441px;
}

.companies-container h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.companies-container h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-top: 15px;
}

.companies-logo {
    padding-top: 82px;
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.help {
    background: #000000;
    padding-top: 113px;
    padding-bottom: 108px;
}

.help-container {

    margin: auto;
    text-align: center;
}

.help-container h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.help-container h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-top: 15px;
    margin-bottom: 22px;
}

.button {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 10px;
}

.button:before {
    content: "";
    display: inline-flex;
    background-image: url("../images/Vector.svg");
    position: relative;
    width: 32px;
    height: 32px;
    right: 5px;
    top: 10px;
}

.portfolio {
    background-image: url("../images/montain.jpg");
    min-height: 600px;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.portfolio .sub-container {
    max-width: 290px;
    margin-right: 62px;
}

.sub-container h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sub-container p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.owl-carousel {
    text-align: center;
    margin: auto;

}

.owl-carousel .item {
    max-width: 128px;
    margin: auto;
}

.owl-dots .owl-dot span {
    background: gray;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;

}

.owl-dots .active span {
    background: white;
}

.owl-stage {
    display: flex;
    align-items: center;

}
